@import "../abstracts/variables";


.dropdown {
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: 5rem;
  font-size: 1.8rem;
  padding: 1rem;
  cursor: pointer;
  border-style: none;
  border-radius: 3px;

  &__option {
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
    padding: 1rem;
  }
}

.dark .dropdown {
  background-color: $dark-mode-elements;
  color: $dark-mode-text;
}
