@import "../abstracts/variables";

.header {
  background-color: white;
  box-shadow: 0 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;

  &__container {
    width: 100%;
    max-width: 120rem;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.dark .header {
  background-color: $dark-mode-elements;
}

@media (max-width: 37.5em) {
  .header {
    padding: 2rem;
  }
}
